html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  header {
    padding: 20px 100px;
    background-color: #1F2937;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
  }

  .headerLogo {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
  }

  nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }

  section.top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    padding: 4rem 2rem;
  }

  div.topLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
  }

  div.topLeft h3 {
    font-size: 48px;
    color: #fff;
    font-weight: 900;
  }

  div.topLeft p {
    color: #fff;
  }

  div.topLeft button {
    border: none;
    background-color: #3882f6;
    color: #fff;
    padding: 5px 20px;
  }

  div.topRight {
    width: 30%;
    background-color: grey;
    height: 12rem;
  }

  section.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section.middle h2 {
    font-size: 36px;
    font-weight: 900;

  }

  div.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 10rem;
  }

  div.box {
    border: 4px solid #3882f6;
    border-radius: 5%;
    width: 100px;
    height: 100px;
  }

